nav {
  width: 100%;
  background: #363786;
  background: -moz-linear-gradient(left, #363786 0%, #1c144d 100%);
  background: -webkit-linear-gradient(left, #363786 0%, #1c144d 100%);
  background: linear-gradient(to right, #363786 0%, #1c144d 100%);
  color: $color-white;
}
